<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brewtools.brewdaycalculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.brewtools.brewdaycalculator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brewtools.brewdaycalculator.HydrometerAdjustActivity"
            android:label="@string/title_activity_hydrometer_adjust"
            android:parentActivityName="com.brewtools.brewdaycalculator.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewtools.brewdaycalculator.MainActivity" />
        </activity>
        <activity
            android:name="com.brewtools.brewdaycalculator.RefractometerAdjustActivity"
            android:label="@string/title_activity_refractometer_adjust"
            android:parentActivityName="com.brewtools.brewdaycalculator.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewtools.brewdaycalculator.MainActivity" />
        </activity>
    </application>

</manifest>
